@font-face{
    font-family: SFlight;
    src: url('fonts/SFlight.otf');
}
@font-face{
    font-family: SFregular;
    src: url('fonts/SFregular.otf');
}
@font-face{
    font-family: SFmedium;
    src: url('fonts/SFmedium.otf');
}
.fuenteMedium{font-family: SFmedium;}
.fuenteRegular{font-family: SFregular;}
.fuenteLight{font-family: SFlight;}

body{
    position: relative;
}
.bannerPrincipal{
    background-image: url(imagenes/fondoEspacio.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.fotoInicio{
    height: 7rem;
    margin-bottom: 10px;
    border-radius: 100%;
}
.P{
    display: block;
    border-radius: 30px;
    text-align: center;
    
}
.S h1{
    animation-delay: 0.5s;
}
.S h5{
    animation-delay: 1s;
}
.S{
    padding: 5vh;
    color: white;
    display: inline-block;
    height: auto;
    border-radius: 40px;
    backdrop-filter: blur(45px);
    transition: all 0.25s ease-in-out;
    
    animation-delay: 1.5s;
    
}
.S:hover{
    backdrop-filter: blur(15px);
    color: #b3b3b3;
}
.botonCircular{
    border-radius: 100%;
    border: solid #b3b3b3;
    background-color: white;
    height: 40px;
    width: 40px;
    animation-delay: 3s;
    animation-name: botonAnimacion;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    
}
@keyframes botonAnimacion {
    0% {border: solid #b3b3b3;}
    50%{border: solid #282828;}
    100%{border: solid #b3b3b3;}
    
}
.botonCircular:hover{
    opacity: 0.5;
    border: solid #282828;
}
.divBotonAbajo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    backdrop-filter: blur(50px);
    transition: all 0.1s ease-in-out;
    position: fixed;
    bottom: 0;

    animation-duration: 0.5;
    background:linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
@keyframes animacionBotonSubir {
    100%{bottom: -10px;}
}
@keyframes animacionBotonSubir {
    100%{bottom: -10px;}
}

.botonCircularAbajo{
    border-radius: 100%;
    border: solid #b3b3b3;
    height: 40px;
    width: 40px;
    transition: all 0.25s ease-out;
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
}
.botonCircularAbajo:hover{
    opacity: 0.5;
    border: solid #282828;
}
.desbloquear{
    display: inline;
    color: white;
    font-size: 0.2rem;
    text-align: center;
    position: absolute;
    bottom: 0px;
    animation-delay: 2.5s;
    
}
.bannerNormal{
    background-color: #282828;
    color: white;
    text-align: center;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "titulo titulo"
                         "sec1 sec2"; 
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: center;
    grid-area: titulo;
    color: white;
    padding:  50px 0 50px 0;
}
.titulo{
    font-size: 50px ;
    width: 100%;
}

.seccionDoble1{
    grid-area: sec1;
}
.seccionDoble2{
    grid-area: sec2;
}
.conocimientoBarra{
    padding: 0px 50px 20px 50px ;
}


@media (max-width: 1000px) {
    .bannerNormal{
        grid-template-areas: "titulo titulo"
                             "sec1 sec1"
                             "sec2 sec2";
    }
}
@media (max-width:1000px){
    .bannerNegro{
        grid-template-areas:"sec1"
                            "sec2"
                            "sec3"
                            "sec4";
    }
}
.logoImagen{
    margin-top: 40px;
    width: 70px;
    display: inline-block;

}
.bannerNegro{
    height: 100vh;
    width: 100%;
    background-color: black;
    /*border: solid blue 3px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.bannerNegro .seccionDoble {
    /*border: solid green 2px;*/
    width: 40%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.bannerNegro .seccionDoble .textoPrincipal{
    /*border: solid red 2px;*/
    text-align: center;
}
.bannerNegro .seccionDoble .textoPrincipal .titulo{
    font-size: 100px;
}
.bannerNegro .seccionDoble .diseño1{
    position: relative;
    height: 80vh;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(./imagenes/fondoColores.jpg);
    background-size: cover;
    background-position: center;
}

.icono1{
    height: 100%;
    width: 30%;
    position: absolute;
    left: -29%;
    animation-name: moverIcono1;
    animation-duration: 5s;
    backdrop-filter: blur(90px);
    animation-iteration-count: infinite;
}
@keyframes moverIcono1 {
    0%{left: -29%;}
    25%{left: 0;}
    50%{left: 0;}
    75%{left: 0;}
    100%{left: -29%;}
}

.icono2{
    height: 70%;
    width: 50%;
    border-radius: 25px 25px 0 0;
    background-color: #282828;
    position: absolute;
    bottom: -70%;
    animation-delay: 3s;
    animation-name: moverIcono2;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}
@keyframes moverIcono2 {
    0%{bottom: -70%;}
    25%{bottom: 0;}
    50%{bottom: 0;}
    75%{bottom: 0;}
    100%{bottom: -70%;}
}
.icono3{
    height: 7%;
    width: 100%;
    position: absolute;
    display: block;
    top: 0%;
    background-color: #b3b3b3;
    animation-name: animarIcono;
    animation-duration: 6s;
    animation-iteration-count: infinite;  
}
.icono4{
    margin-top: 10%;
    height: 20%;
    width: 50%;
    display: block;

    border-radius: 25px;
    top:  10%;
    background-color: #b3b3b3;
    animation-name: animarIcono;
    animation-duration: 6s;
    animation-iteration-count: infinite;  
    
}
.icono5{
    height: 25%;
    width: 90%;
    display: block;
    border-radius: 25px;
    top: 33%;
    background-color: #b3b3b3;
    animation-name: animarIcono;
    animation-duration: 6s;
    animation-iteration-count: infinite;  
    
}
.icono6{
    height: 39%;
    width: 30%;
    display: flex;
    border-radius: 25px;
    background-color: #b3b3b3;  
    margin: 6px;
    animation-name: animarIcono;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes animarIcono {
    50%{background-color: #282828;}
}
.bannerNegro .seccionDoble .diseño2{
    
    height: 80vh;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    background-image: url(./imagenes/fondoColores2.jpg);
    background-size: cover;
    background-position: center;
}
.imgIcono-primera{
    height: 90px;
    margin: 1em;
    animation-name: agrandarIcono;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 0.25s ease;
    
}
.imgIcono-segunda{
    height: 90px;
    margin: 1em;
    animation-name: agrandarIcono;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    transition: 0.25s ease;
}

@keyframes agrandarIcono {
    40%{height: 90px;}
    50%{height: 95px;}
    60%{height: 90px;}
}

.proyectos{
    background-image: url(./imagenes/fondo2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
}

.listaProyectos{
    width: 20rem;
    height: 100vh;
    /*border: solid green 3px;*/
    background:linear-gradient( rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35));
    backdrop-filter: blur(80px);
}
.list{
    width: 1005;
    height: 100vh;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}
.list_item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: .4s;
    height: 0;
}